In [ ]:
# HW 7 PYTHON

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import numpy as np
%matplotlib inline

In [2]:
lifts = pd.read_csv(r'C:\Users\Asus\Desktop\PYTHON\ipf_lifts.csv')

In [3]:
lifts.head()

,name,sex,event,equipment,age,age_class,division,bodyweight_kg,weight_class_kg,best3squat_kg,best3bench_kg,best3deadlift_kg,place,date,federation,meet_name
0,Hiroyuki Isagawa,M,SBD,Single-ply,NaN,NaN,NaN,67.5,67.5,205.0,140.0,225.0,1,1985-08-03,IPF,World Games
1,David Mannering,M,SBD,Single-ply,24.0,24-34,NaN,67.5,67.5,225.0,132.5,235.0,2,1985-08-03,IPF,World Games
2,Eddy Pengelly,M,SBD,Single-ply,35.5,35-39,NaN,67.5,67.5,245.0,157.5,270.0,3,1985-08-03,IPF,World Games
3,Nanda Talambanua,M,SBD,Single-ply,19.5,20-23,NaN,67.5,67.5,195.0,110.0,240.0,4,1985-08-03,IPF,World Games
4,Göran Henrysson,M,SBD,Single-ply,NaN,NaN,NaN,67.5,67.5,240.0,140.0,215.0,5,1985-08-03,IPF,World Games

In [4]:
lifts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41152 entries, 0 to 41151
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              41152 non-null  object
 1   sex               41152 non-null  object
 2   event             41152 non-null  object
 3   equipment         41152 non-null  object
 4   age               38246 non-null  float64
 5   age_class         38268 non-null  object
 6   division          40525 non-null  object
 7   bodyweight_kg     40965 non-null  float64
 8   weight_class_kg   41151 non-null  object
 9   best3squat_kg     27454 non-null  float64
 10  best3bench_kg     38690 non-null  float64
 11  best3deadlift_kg  27124 non-null  float64
 12  place             41152 non-null  object
 13  date              41152 non-null  object
 14  federation        41152 non-null  object
 15  meet_name         41152 non-null  object
dtypes: float64(5), object(11)
memory usage: 5.0+ MB

In [5]:
lifts.shape

(41152, 16)

In [6]:
lifts.describe()

,age,bodyweight_kg,best3squat_kg,best3bench_kg,best3deadlift_kg
count,38246.000000,40965.000000,27454.000000,38690.000000,27124.000000
mean,34.772708,81.148902,217.552650,144.677881,221.835002
std,14.618234,24.930896,74.614728,60.032659,63.717025
min,0.500000,37.290000,-210.000000,-160.000000,-215.000000
25%,22.500000,60.000000,160.000000,97.500000,170.000000
50%,31.500000,75.550000,215.000000,140.000000,222.500000
75%,45.000000,97.300000,270.000000,185.000000,270.000000
max,93.500000,240.000000,490.000000,415.000000,420.000000

In [7]:
lifts.columns

Index(['name', 'sex', 'event', 'equipment', 'age', 'age_class', 'division',
       'bodyweight_kg', 'weight_class_kg', 'best3squat_kg', 'best3bench_kg',
       'best3deadlift_kg', 'place', 'date', 'federation', 'meet_name'],
      dtype='object')

In [8]:
lifts.isnull().sum()

name                    0
sex                     0
event                   0
equipment               0
age                  2906
age_class            2884
division              627
bodyweight_kg         187
weight_class_kg         1
best3squat_kg       13698
best3bench_kg        2462
best3deadlift_kg    14028
place                   0
date                    0
federation              0
meet_name               0
dtype: int64

In [9]:
lifts.isnull()

,name,sex,event,equipment,age,age_class,division,bodyweight_kg,weight_class_kg,best3squat_kg,best3bench_kg,best3deadlift_kg,place,date,federation,meet_name
0,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41147,False,False,False,False,True,True,False,False,False,True,False,True,False,False,False,False
41148,False,False,False,False,True,True,False,False,False,True,False,True,False,False,False,False
41149,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False
41150,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False
41151,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False

In [10]:
lifts.tail

<bound method NDFrame.tail of                     name sex event   equipment   age age_class division
0       Hiroyuki Isagawa   M   SBD  Single-ply   NaN       NaN      NaN  \
1        David Mannering   M   SBD  Single-ply  24.0     24-34      NaN
2          Eddy Pengelly   M   SBD  Single-ply  35.5     35-39      NaN
3       Nanda Talambanua   M   SBD  Single-ply  19.5     20-23      NaN
4        Göran Henrysson   M   SBD  Single-ply   NaN       NaN      NaN
...                  ...  ..   ...         ...   ...       ...      ...
41147  Chien-Hsiung Chao   M     B  Single-ply   NaN       NaN     Open
41148     Oleg Gordynetz   M     B  Single-ply   NaN       NaN     Open
41149      Clive Lambert   M     B  Single-ply  31.5     24-34     Open
41150        Peter Brath   M     B  Single-ply  21.5     20-23     Open
41151   Valery Sidorenko   M     B  Single-ply  38.5     35-39     Open

       bodyweight_kg weight_class_kg  best3squat_kg  best3bench_kg
0               67.5            67.5          205.0          140.0  \
1               67.5            67.5          225.0          132.5
2               67.5            67.5          245.0          157.5
3               67.5            67.5          195.0          110.0
4               67.5            67.5          240.0          140.0
...              ...             ...            ...            ...
41147          126.5            125+            NaN          202.5
41148          137.5            125+            NaN          202.5
41149          142.2            125+            NaN          202.5
41150          125.5            125+            NaN          180.0
41151          142.0            125+            NaN            NaN

       best3deadlift_kg place        date federation
0                 225.0     1  1985-08-03        IPF  \
1                 235.0     2  1985-08-03        IPF
2                 270.0     3  1985-08-03        IPF
3                 240.0     4  1985-08-03        IPF
4                 215.0     5  1985-08-03        IPF
...                 ...   ...         ...        ...
41147               NaN    12  1995-06-25        IPF
41148               NaN    13  1995-06-25        IPF
41149               NaN    14  1995-06-25        IPF
41150               NaN    15  1995-06-25        IPF
41151               NaN    DQ  1995-06-25        IPF

                             meet_name
0                          World Games
1                          World Games
2                          World Games
3                          World Games
4                          World Games
...                                ...
41147  World Bench Press Championships
41148  World Bench Press Championships
41149  World Bench Press Championships
41150  World Bench Press Championships
41151  World Bench Press Championships

[41152 rows x 16 columns]>

In [11]:
lifts.sample()

,name,sex,event,equipment,age,age_class,division,bodyweight_kg,weight_class_kg,best3squat_kg,best3bench_kg,best3deadlift_kg,place,date,federation,meet_name
31926,Chiu-Hui Hsieh,F,SBD,Single-ply,19.5,20-23,Juniors,76.1,82.5,210.0,125.0,195.0,2,2001-09-11,IPF,World Juniors Powerlifting Championships

In [22]:
lifts.sample(5)

,name,sex,event,equipment,age,age_class,division,bodyweight_kg,weight_class_kg,best3squat_kg,best3bench_kg,best3deadlift_kg,place,date,federation,meet_name
30212,Tomasz Jarosiewicz,M,SBD,Single-ply,23.5,24-34,Open,75.0,75,NaN,185.0,250.0,DQ,2006-11-05,IPF,World Powerlifting Championships
37249,Sergey Rykov,M,SBD,Single-ply,50.5,50-54,Masters 2,73.1,75,235.0,125.0,210.0,7,2009-09-28,IPF,World Masters Powerlifting Championships
13753,Marcel Vorster,M,SBD,Single-ply,17.5,18-19,Sub-Juniors,58.2,59,170.0,105.0,150.0,7,2012-08-28,IPF,World Sub-Juniors & Juniors Powerlifting Champ...
28652,Oleksiy Kryvochey,M,SBD,Single-ply,18.5,18-19,Juniors,74.6,75,270.0,157.5,275.0,3,2002-09-10,IPF,World Juniors Powerlifting Championships
8309,Mitsuru Osawa,M,SBD,Single-ply,76.5,75-79,Masters 4,72.4,74,160.0,80.0,160.0,1,2018-10-02,IPF,World Masters Powerlifting Championships

In [12]:
lifts.index

RangeIndex(start=0, stop=41152, step=1)

In [13]:
lifts['event'].values

array(['SBD', 'SBD', 'SBD', ..., 'B', 'B', 'B'], dtype=object)

In [14]:
lifts['event'].value_counts()

event
SBD    28586
B      12564
SB         2
Name: count, dtype: int64

In [12]:
lifts.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41152 entries, 0 to 41151
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              41152 non-null  object
 1   sex               41152 non-null  object
 2   event             41152 non-null  object
 3   equipment         41152 non-null  object
 4   age               38246 non-null  float64
 5   age_class         38268 non-null  object
 6   division          40525 non-null  object
 7   bodyweight_kg     40965 non-null  float64
 8   weight_class_kg   41151 non-null  object
 9   best3squat_kg     27454 non-null  float64
 10  best3bench_kg     38690 non-null  float64
 11  best3deadlift_kg  27124 non-null  float64
 12  place             41152 non-null  object
 13  date              41152 non-null  object
 14  federation        41152 non-null  object
 15  meet_name         41152 non-null  object
dtypes: float64(5), object(11)
memory usage: 5.0+ MB
None

In [8]:
# 2. Найдите рекорды каждого пола и каждого подразделения в каждом из 3
# упражнений (жим лежа, приседания и становая тяга)

record_gender_div = lifts.groupby(['sex', 'division'])[['best3squat_kg', 'best3bench_kg', 'best3deadlift_kg']].max()
print(record_gender_div)

                 best3squat_kg  best3bench_kg  best3deadlift_kg
sex division
F   Heavy                305.0          192.5             248.5
    Juniors              282.5          190.5             252.5
    Light                220.0          150.0             202.5
    Masters 1            245.0          197.5             248.0
    Masters 2            255.0          172.5             227.5
    Masters 3            210.0          140.0             190.0
    Masters 4            135.0          115.0             142.5
    Middle               247.5          170.0             235.0
    Open                 322.5          235.0             270.5
    Sub-Juniors          265.0          170.0             238.0
    Super                267.5          190.0             245.0
    SuperHeavy           310.5          205.0             247.5
M   Heavy                432.0          330.0             382.5
    Juniors              450.0          375.0             377.5
    Light                325.5          217.5             315.0
    Masters 1            405.0          345.0             395.0
    Masters 2            365.0          310.5             335.0
    Masters 3            300.0          260.0             305.0
    Masters 4            235.0          220.0             260.5
    Middle               370.0          268.5             345.0
    Open                 490.0          415.0             407.5
    Sub-Juniors          370.0          310.0             335.0
    Super                465.0          360.0             387.5
    SuperHeavy           475.0          405.0             420.0

In [17]:
# 3. Посчитайте количество побед каждого участника, принимая за победу 1-е
# место. Сохраните результаты во вторичном DataFrame

winners = lifts[lifts['place'] == '1'].groupby('name')[['place']].count()
print(winners.sort_values('place', ascending=False))

                   place
name
Hideaki Inaba         28
Andrzej Stanaszek     24
Sergey Fedosienko     24
Ielja Strik           22
Hiroyuki Isagawa      21
...                  ...
Jarmo Ranta            1
Jarmo Sohlman          1
Jaroslav Halač         1
Jason Johnson          1
Štěpánka Židová        1

[3328 rows x 1 columns]

In [44]:
#4. Используйте DataFrame из упражнения 3, чтобы показать для каждой
# комбинации подразделения и пола, участника с наибольшим количеством побед
# среди участников, когда-либо участвовавших в этом дивизионе
result = pd.merge(winners, lifts, how = 'inner', on = ['name'])
result = result[result['place_y'].str.isdigit()]
result['place_y'] = result['place_y'].astype('int')
idx = result.groupby(['sex', 'division'])['place_y'].transform(max) == result['place_y']                    #.sort_values(['sex','place_y'], ascending=False)
d = result[idx]
d[['sex', 'division', 'place_y','name']].sort_values(['sex','place_y'], ascending=False)

      sex     division  place_y                               name
4348    M         Open       23                    Fredrik Smulter
6868    M    Masters 1       19                   Johan Westerberg
4130    M      Juniors       15                      Ewan Belgrove
13580   M        Heavy       11                     Tibor Mészáros
5943    M    Masters 2       10                        Ivan Veselý
6450    M    Masters 2       10                   Jean-Paul Belmas
6758    M    Masters 2       10                        Jiří Horník
7089    M    Masters 2       10                        Josef Mička
2752    M  Sub-Juniors        9                   Daigoro Kitagawa
3059    M        Light        9                     Dariusz Wszoła
4210    M  Sub-Juniors        9                  Florian Bottinger
6090    M  Sub-Juniors        9                       Jakub Lenart
6439    M    Masters 3        9                   Jean-Paul Belmas
13278   M    Masters 3        9                     Tapani Puhakka
13684   M       Middle        9                           Tom Kean
7740    M        Super        8                    Kenneth Sandvik
5739    M    Masters 4        7                       Iosif Plagov
8141    M   SuperHeavy        5               Krzysztof Wierzbicki
6901    F         Open       19                     Johanna Kankus
2469    F      Juniors       14                   Christina Newman
3729    F    Masters 1       14                    Eila Kumpuniemi
6048    F        Light       11                       Jackie Sandu
8122    F  Sub-Juniors       11                       Kozue Nemoto
14785   F   SuperHeavy       10                       Ya-Wen Chang
4712    F       Middle        9  Gundula Fiona Sommer von Bachhaus
6479    F       Middle        9                   Jeannette Gevers
6880    F        Heavy        9                   Johanna Aguinaga
10005   F        Super        9                       Min-Chu Hung
13039   F    Masters 2        8                  Sylvia Wunderlich
12071   F    Masters 3        6                     Sandra Simmons
945     F    Masters 4        4                      Andrée Duboux
1585    F    Masters 4        4                         Bebe Burns

In [ ]:
''' 5. Подключитесь к базе данных employees и выполните с помощью pandas
последний запрос из финального проекта по SQL. Убедитесь, что результаты
загружены в pandas DataFrame. '''

# Task from the SQL project
''' 7. Из-за кризиса на одно подразделение на своевременную выплату зарплаты выделяется
всего 500 тысяч долларов. Правление решило, что низкооплачиваемые сотрудники
будут первыми получать зарплату. Показать список всех сотрудников, которые будут
вовремя получать зарплату (обратите внимание, что мы должны платить зарплату за
один месяц, но в базе данных мы храним годовые суммы). '''

In [1]:
import mysql.connector
import pandas as pd
cnx = mysql.connector.connect(user='root', password='lans123', host='localhost', database='employees')



query = """SELECT emp_no, dept_no, sum_salary
FROM (
SELECT s.emp_no,dept_no,(salary/12) AS month_salary, 
SUM(salary/12) OVER(partition by dept_no ORDER BY salary/12) sum_salary
FROM salaries AS s
INNER JOIN dept_emp AS d
ON s.emp_no = d.emp_no
AND curdate() BETWEEN d.from_date AND d.to_date
WHERE curdate() BETWEEN s.from_date AND s.to_date

) month_salary
WHERE sum_salary <= 500000
ORDER BY dept_no, month_salary;"""


df = pd.read_sql_query(query,cnx)
print(df)

C:\Users\Asus\AppData\Local\Temp\ipykernel_11388\1902923007.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,cnx)

      emp_no dept_no   sum_salary
0      65337    d001    3318.4167
1     107931    d001    6641.0000
2     290305    d001    9968.1667
3     266476    d001   13337.6667
4      15715    d001   16739.0834
...      ...     ...          ...
1271  254059    d009  483385.3340
1272  236723    d009  486916.1673
1273   97659    d009  490447.7506
1274  221350    d009  493979.7506
1275  461030    d009  497512.3339

[1276 rows x 3 columns]